.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperatures-min {
  opacity: 0.5;
}
